{% if plugins contains 'jekyll-feed' %}{% include base/head/feed-tag.html %}{% endif %}

{% if page.path contains '_posts' %}
  {% unless page.skip_amp %}<link rel="amphtml" href="{{ page.permalink | prepend: '/amp' | prepend: site.baseurl | prepend: site.url }}">{% endunless %}
{% endif %}

{% assign lang = page.lang | default:site.lang | default:'en' %}
<link rel="alternate" href="{{ page.url | absolute_url }}" hreflang="{{ lang | downcase | replace:'_','-' }}">

<link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/icons/favicon.ico' | relative_url }}">
<link rel="icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">

<link rel="apple-touch-icon" href="{{ '/assets/icons/icon.png' | relative_url }}">

<link rel="manifest" href="{{ '/assets/manifest.json' | relative_url }}">

{% unless site.hydejack.no_google_fonts or site.no_google_fonts %}
  <link rel="dns-prefetch" href="https://fonts.googleapis.com">
  <link rel="dns-prefetch" href="https://fonts.gstatic.com">
{% endunless %}
{% if jekyll.environment == "production" %}
  <link rel="dns-prefetch" href="https://www.google-analytics.com">
{% endif %}
