<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">

{% unless page.redirect %}
  {% if plugins contains 'jekyll-seo-tag' %}{% include base/head/seo-tag.html %}
  {% else %}{% include base/head/seo-fallback.html %}{% endif %}

  {% if site.keywords.size > 0 or page.keywords.size > 0 %}
    <meta name="keywords" content="{{ page.tags | default:site.keywords | join:',' }}">
  {% endif %}
{% else %}
  {% assign redirect_to = site.data.redirects[page.redirect_id].url %}
  <title>{{ site.data.strings.redirecting | default:"Redirecting..." }}</title>
{% endunless %}

{% unless page.image %}
  <meta property="og:image" content="{{ site.url }}/assets/icons/icon@3x.png">
{% endunless %}

<meta name="mobile-web-app-capable" content="yes">

<meta property="og:type" content="website" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="{{ site.title }}">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<meta name="application-name" content="{{ site.title }}">
<meta name="msapplication-config" content="{{ '/assets/ieconfig.xml' | relative_url }}">
<meta name="theme-color" content="{{ theme_color | default:'#193747' }}">
{% if page.rating %}
  {% include base/head/rich-snippet/index.html %}
{% endif %}