<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
<meta name="twitter:description" content="{{ page.description | escape }}">
{% if page.image %}
<meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
{% else %}  
<meta name="twitter:image" content="{{ site.url }}/assets/icons/icon@3x.png">
{% endif %}
