<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
<style amp-custom>
  {% include base/head/style/default.min.css %}
  {% include base/head/style/layout.min.css %}
  {% include base/head/style/inline.min.css %}
  {% include base/head/style/syntax-highlight-dracula.min.css %}
  {% include base/head/style/arccodion.min.css %}
  {% include base/head/style/link-box.min.css %}
  {% include base/head/style/share.min.css %}
  {% include base/head/style/toast.min.css %}
  {% include base/head/style/card.min.css %}
  {% include base/head/style/rating.min.css %}
  {% include base/head/style/ad-fallback.min.css %}
</style>