<div class="hy-push-state">
  {% include base/body/list/list.html %}
  <div class="wide-sidebar">
    {% include base/body/components/sidebar.html %}  
  </div>
</div>
{% include base/body/components/menu.html %}
{% include base/scripts/body.html %}