{% assign posts = site.categories[page.slug] | default:site.tags[page.slug] | default:site.posts %}

<div class="main content">
  {% if page.title.size > 0 %}
    <header>
      <h1 class="page-title">{{ page.title }}</h1>
      {% include base/components/message.html text=page.description hide=page.hide_description %}
    </header>
    <hr class="sr-only"/>
  {% endif %}

  {% assign date_formats  = site.data.strings.date_formats               %}
  {% assign list_group_by = date_formats.list_group_by | default:"%Y"    %}
  {% assign list_entry    = date_formats.list_entry    | default:"%d %b" %}
  {% assign post_by_year  = posts | group_by_exp:"post", "post.date | date: '%Y'" %}
  {% assign default_size  = 8 %}

  {% for year in post_by_year %}
    <h2 id="{{ year.name }}-ref" class="hr list-heading">{{ year.name }}</h2>
    <div class="n-card-list">
      {% for post in year.items %}
        {% if forloop.index <= default_size %}{% assign status = '' %}{% else %}{% assign status = 'hidden' %}{% endif %}
        {% include base/components/post-card.html post=post status=status %}
      {% endfor %}
      {% if year.items.size > default_size %}
        <div class="more_read_post" onclick="moreReadPost(this);">
          <h3>More Read</h3>
        </div>
      {% endif %}
    </div>
  {% endfor %}
  {% include base/components/footer.html %}
</div>
{% include base/components/searched-posts.html %}