<div class="hy-push-state">
  {% include base/body/post/post.html post=page no_link_title=true %}
  <div class="wide-sidebar">
    {% include base/body/components/sidebar.html %}  
  </div>
</div>
{% include base/body/components/menu.html %}
{% include base/scripts/body.html %}