{% assign post          = include.post          %}
{% assign no_link_title = include.no_link_title %}
{% assign hide_image    = include.hide_image    %}
{% assign default_image_url  = '/assets/img/no-image.png' %}

<div class="main content">
  <article id="post{{ post.id | replace:'/','-' }}" class="page post mb6" role="article">
    <header>
      <div class="n-category">
        <svg style="margin-bottom:-3px" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"><path fill="#888" d="M6.083 4c1.38 1.612 2.578 3 4.917 3h11v13h-20v-16h4.083zm.917-2h-7v20h24v-17h-13c-1.629 0-2.305-1.058-4-3z"/></svg>
        {% assign cate = site.featured_categories | where: "slug", post.categories[1] | first %}
        <span class="primary-category">{{ post.categories[0] }}</span>
        <svg style="margin-bottom:-2px" class="r-arrow" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="#888" d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
        <a href="{{ cate.url }}" class="flip-title secondary-category">{{ cate.title }}</a>
      </div>
      <h1 class="post-title">
        {% unless no_link_title %}<a href="{{ post.url | relative_url }}" class="flip-title">{% endunless %}
          {{ post.title }}
        {% unless no_link_title %}</a>{% endunless %}
      </h1>
      <div class="heading post-heading">
        {% assign post_format = site.data.strings.date_formats.post | default:"%d %b %Y" %}
        <div class="n-timeago post-date">
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"><path fill="#666" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm1 12v-6h-2v8h7v-2h-5z"></path></svg>
          <time style="vertical-align:top" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date:post_format }}</time>
          <span class="time-middle-dot">·</span>
          <time class="reactive-timeago" data-timeago="{{ post.date | date_to_xmlschema }}"></time>
        </div>
      </div>
  
      {% if post.image %}
      <div class="img lead sixteen-nine">
        {% include base/components/reactive-img.html src=post.image alt=post.title class="post-title-image" %}
      </div>
      {% endif %}
      <p class="message">{{ post.description | strip_newlines }}</p>
    </header>

    {% if page.toc %}
    <div class="table-of-content">
      <h2 class="toc-title">
        <span>목차</span>
      </h2>
      {{ post.content | toc_only }}
    </div>
    {% endif %}

    {{ post.content | reactive_images }}

  </article>

  {% if post.rating %}
    <div class="rating-container-post">
      <span>평점:</span>
      {% include base/components/rating.html rating=post.rating %}
    </div> 
  {% endif %}

  <div class="n-tags">
    <svg style="margin:0 -2px -4px 1px" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"><path fill="#888" d="M9.777 2l11.394 11.395-7.78 7.777-11.391-11.391v-7.781h7.777zm.828-2h-10.605v10.609l13.391 13.391 10.609-10.604-13.395-13.396zm-4.104 5c.4 0 .776.156 1.059.438.585.586.585 1.539.001 2.123-.285.283-.661.439-1.061.439s-.777-.156-1.06-.438c-.585-.586-.586-1.538-.001-2.123.284-.283.661-.439 1.062-.439zm0-1c-.641 0-1.28.244-1.769.732-.977.976-.977 2.558 0 3.536.489.488 1.128.732 1.768.732s1.279-.244 1.768-.733c.977-.977.977-2.558 0-3.537-.488-.486-1.127-.73-1.767-.73z"></path></svg>
    {% include base/components/tag-list.html tags=post.tags %}
  </div>

  <div class="dingbat related">
    <svg style="width: 35px;margin-bottom: -6px;text-align: center;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="apple-alt" class="svg-inline--fa fa-apple-alt fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M350.85 129c25.97 4.67 47.27 18.67 63.92 42 14.65 20.67 24.64 46.67 29.96 78 4.67 28.67 4.32 57.33-1 86-7.99 47.33-23.97 87-47.94 119-28.64 38.67-64.59 58-107.87 58-10.66 0-22.3-3.33-34.96-10-8.66-5.33-18.31-8-28.97-8s-20.3 2.67-28.97 8c-12.66 6.67-24.3 10-34.96 10-43.28 0-79.23-19.33-107.87-58-23.97-32-39.95-71.67-47.94-119-5.32-28.67-5.67-57.33-1-86 5.32-31.33 15.31-57.33 29.96-78 16.65-23.33 37.95-37.33 63.92-42 15.98-2.67 37.95-.33 65.92 7 23.97 6.67 44.28 14.67 60.93 24 16.65-9.33 36.96-17.33 60.93-24 27.98-7.33 49.96-9.67 65.94-7zm-54.94-41c-9.32 8.67-21.65 15-36.96 19-10.66 3.33-22.3 5-34.96 5l-14.98-1c-1.33-9.33-1.33-20 0-32 2.67-24 10.32-42.33 22.97-55 9.32-8.67 21.65-15 36.96-19 10.66-3.33 22.3-5 34.96-5l14.98 1 1 15c0 12.67-1.67 24.33-4.99 35-3.99 15.33-10.31 27.67-18.98 37z"></path></svg>
  </div>
  {% include base/components/share.html %}
  {% include base/components/related-posts.html post=post %}
  {% include base/components/comments.html %}
  {% include base/components/footer.html %}
</div>

{% include base/components/searched-posts.html %}