<span class="sr-only">{{ site.data.strings.navigation | default:"Navigation" }}{{ site.data.strings.colon | default:":" }}</span>
<amp-accordion class="sample nav-depth-first" animate expand-single-section>
  {% for item in site.data.navbar.navigations %}
    <section>
      <header class="sidebar-nav-item nav-title">
        <span>
          {% case item.id %}
            {% when 'tips' %} {% include svgs/tips-icon.html %}
            {% when 'dev' %} {% include svgs/dev-icon.html %}
            {% when 'errors' %} {% include svgs/errors-icon.html %}
            {% when 'algorithms' %} {% include svgs/algorithms-icon.html %}
          {% endcase %}
          {{ item.title }}
        </span>
        <span class="nav-counter-first-depth">
          [{{ site.categories[item.id].size }}]
        <span>
      </header>
      <ul class="nav-depth-second">
        {% for entry in item.subTitles %}
          <li>
            <a 
              href="{{ entry.url }}"
              class="sidebar-nav-item{% if page.url contains url %} active{% endif %}"
            >
              {% include svgs/post-icon.html size='15' %}
              {{ entry.page }}
            </a>
            <span class="nav-counter-second-depth">
              [{{ site.categories[entry.id].size }}]
            <span>
          </li>
        {% endfor %}  
      </ul>
    </section>
  {% endfor %}
</amp-accordion>

