{% for partner in site.data.partners %}
<li>
  <span class="partner-title-wrapper hidden">
    <a href="{{ partner.link }}" target="_blank">{{ partner.title }}</a>
  </span>
  <span class="partner-icon" on="tap:AMP.navigateTo(url='{{ partner.link }}',target='_blank')" tabindex="0" role="button">{{ site.data.svgs[partner.icon] }}</span>
</li>
{% endfor %}
