{% assign src = include.src %}
{% assign alt = include.alt %}
{% assign ext = include.ext %}
{% assign class = include.class | default '' %}
{% assign width = include.width %}
{% assign height = include.height %}
{% assign webp_src = include.src | replace: '.png', '.webp' | replace: '.jpg', '.webp' %}
<amp-img
  src="{{ webp_src }}"
  alt="{{ alt }}"
  class="{{ class }}"
  width="{{ width }}"
  height="{{ height }}"
  layout="responsive"
  >
  <amp-img
    fallback=""
    src="{{ src }}"
    alt="{{ alt }}"
    class="{{ class }}"
    width="{{ width }}"
    height="{{ height }}"
    layout="responsive"
  >
    <noscript><img src="{{ src }}" alt="{{ alt }}"></noscript>
  </amp-img>
  <noscript><img src="{{ webp_src }}" alt="{{ alt }}"></noscript>
</amp-img>