{% if page.comments %}
<aside class="comments related" role="complementary">
  <h2 class="hr">{{ site.data.strings.comments | default:"Comments" }}</h2>
  {% include amp/components/github-comment.html %}
</aside>
{% endif %}
