<div class="main content">
  <h1 class="home-heading">All posts</h1>
  {% unless page.no_excerpt %}<div class="n-card-list">{% endunless %}
  {% for post in paginator.posts %}
    {% include base/components/post-card.html post=post %}
  {% endfor %}
  {% unless page.no_excerpt %}</div>{% endunless %}
  {% include base/components/pagination.html %}
  {% include base/components/footer.html %}
</div>
{% include base/components/searched-posts.html %}
