<span class="sr-only">{{ site.data.strings.navigation | default:"Navigation" }}{{ site.data.strings.colon | default:":" }}</span>
{% for item in site.data.navbar.navigations %}
  <section>
    <header class="sidebar-nav-item nav-title">
      <span nav-id="{{ item.id }}">
        {% case item.id %}
          {% when 'tips' %} {% include svgs/tips-icon.html %}
          {% when 'dev' %} {% include svgs/dev-icon.html %}
          {% when 'errors' %} {% include svgs/errors-icon.html %}
          {% when 'algorithms' %} {% include svgs/algorithms-icon.html %}
        {% endcase %}
        {{ item.title }}
      </span>
      <span class="nav-counter-first-depth">
        [{{ site.categories[item.id].size }}]
      <span>
    </header>
    <ul class="nav-depth-second">
      {% for entry in item.subTitles %}
        <li sub-nav-id="{{ entry.id }}">
          <a 
            href="{{ entry.url }}"
            class="sidebar-nav-item{% if page.url contains url %} active{% endif %}"
          >
          <svg style="margin-bottom:-4px" class="r-arrow" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"><path fill="#FFFFFF" d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"/></svg>
            {% include svgs/post-icon.html size='15' %}
            {{ entry.page }}
          </a>
          <span class="nav-counter-second-depth">
            [{{ site.categories[entry.id].size }}]
          <span>
        </li>
      {% endfor %}  
    </ul>
  </section>
{% endfor %}