{% for partner in site.data.partners %}
<li>
  <span class="partner-title-wrapper hidden">
    <a href="{{ partner.link }}" target="_blank">{{ partner.title }}</a>
  </span>
  <span class="partner-icon" onclick="window.open('{{ partner.link }}')">{{ site.data.svgs[partner.icon] }}</span>
</li>
{% endfor %}
