<div class="main content">
  <div class="page">
    <h1 class="page-title">{{ page.title | default:strings.not_found.title | default: "404: 페이지를 찾을 수 없음 (Page Not Found)" }}</h1>
    <div class="hr pb0"></div>

    {% assign test = page.content | strip_newlines %}
    {% if test != "" %}
      {{ content }}
    {% else %}
      {% capture home_link %}<a href="{{ '/' | relative_url }}">{{ strings.not_found.home_link | default:"Head back home" }}</a>{% endcapture %}
      {% assign text = strings.not_found.message
        | default:"Sorry, we've misplaced that URL or it's pointing to something that doesn't exist. <!--home_link--> to try finding it again." %}
      <p class="lead">
        {{ text | replace:"<!--home_link-->", home_link }}
      </p>

      {% include base/components/google/display-ad.html slot='9740404550' %}
      
      <div class="dingbat related">
        <svg style="width: 35px;margin-bottom: -6px;text-align: center;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="apple-alt" class="svg-inline--fa fa-apple-alt fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M350.85 129c25.97 4.67 47.27 18.67 63.92 42 14.65 20.67 24.64 46.67 29.96 78 4.67 28.67 4.32 57.33-1 86-7.99 47.33-23.97 87-47.94 119-28.64 38.67-64.59 58-107.87 58-10.66 0-22.3-3.33-34.96-10-8.66-5.33-18.31-8-28.97-8s-20.3 2.67-28.97 8c-12.66 6.67-24.3 10-34.96 10-43.28 0-79.23-19.33-107.87-58-23.97-32-39.95-71.67-47.94-119-5.32-28.67-5.67-57.33-1-86 5.32-31.33 15.31-57.33 29.96-78 16.65-23.33 37.95-37.33 63.92-42 15.98-2.67 37.95-.33 65.92 7 23.97 6.67 44.28 14.67 60.93 24 16.65-9.33 36.96-17.33 60.93-24 27.98-7.33 49.96-9.67 65.94-7zm-54.94-41c-9.32 8.67-21.65 15-36.96 19-10.66 3.33-22.3 5-34.96 5l-14.98-1c-1.33-9.33-1.33-20 0-32 2.67-24 10.32-42.33 22.97-55 9.32-8.67 21.65-15 36.96-19 10.66-3.33 22.3-5 34.96-5l14.98 1 1 15c0 12.67-1.67 24.33-4.99 35-3.99 15.33-10.31 27.67-18.98 37z"></path></svg>
      </div>
    
      <h2>Latest Posts</h2>
      <div class="columns mt2">
        {% for post in site.posts limit:4 %}
          {% include base/components/post-card.html post=post %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
  {% include base/components/footer.html %}
</div>
{% include base/components/searched-posts.html %}