{% if site.copyright.size > 0 or site.legal.size > 0 %}
{% assign doc_icon = '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="width:15px;height:15px;fill: #888;margin-bottom: -4px;" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve"><g><g transform="translate(0.000000,511.000000) scale(0.100000,-0.100000)"><path d="M718.4,4978.1c-104.2-46.3-201.4-136.6-256.9-245.4c-44-83.3-44-203.7-44-4612.9c0-3795.9,4.6-4538.9,32.4-4603.7C491.6-4585.8,635-4720,739.2-4757c125-44,6200.8-44,6328.1,0c115.7,41.7,215.2,129.6,277.8,245.4l50.9,94.9l6.9,1698.9l6.9,1698.9l-171.3-159.7c-92.6-87.9-305.5-289.3-474.5-449L6458.5-1917v-861c0-749.9-4.6-865.6-37-895.7c-32.4-32.4-291.7-37-2518.3-37c-1898,0-2488.2,6.9-2509,27.8c-39.4,39.3-39.4,7566.4,0,7605.7c20.8,20.8,611,27.8,2509,27.8c2226.6,0,2485.8-4.6,2518.3-37c32.4-32.4,37-203.7,37-1555.4V837.3l474.5,474.5l474.5,474.5l-4.6,1435l-6.9,1435l-64.8,111.1c-34.7,60.2-108.8,138.9-159.7,173.6l-97.2,62.5l-3136.3,4.6C1172,5012.8,790.1,5010.5,718.4,4978.1z"></path><path d="M2067.8,2862.6c-203.7-122.7-187.5-439.8,25.5-541.6c69.4-32.4,219.9-37,1217.5-37c930.5,0,1148,6.9,1198.9,32.4c229.2,120.4,254.6,418.9,44,546.2c-71.8,44-125,46.3-1242.9,46.3C2192.8,2908.9,2139.5,2906.5,2067.8,2862.6z"></path><path d="M8736.1,2517.7c-41.7-11.6-108.8-39.4-150.4-67.1c-44-27.8-902.7-874.9-1909.5-1884.1L4843-1269l-69.4-185.2c-39.3-104.2-94.9-268.5-122.7-365.7l-53.2-180.5l233.8-233.8l236.1-236.1l342.5,111.1l342.6,113.4L7636.7-368.6C8731.5,723.9,9532.3,1538.6,9550.8,1582.6c39.3,87.9,41.7,256.9,9.3,344.9c-32.4,83.3-449,506.9-541.6,548.6C8918.9,2524.6,8819.4,2536.2,8736.1,2517.7z M8851.8,2108c20.8-18.5,37-57.9,37-85.6c0-37-504.6-555.5-1752.1-1803.1C5324.4-1593,5324.4-1595.3,5236.4-1507.4c-16.2,16.2-27.8,60.2-27.8,97.2c0,62.5,199.1,268.5,1742.9,1812.3C8787,2240,8752.3,2207.5,8851.8,2108z"></path><path d="M2090.9,1670.6c-155.1-67.1-217.6-291.6-122.7-444.4c92.6-152.8,6.9-145.8,1891-145.8c1652.6,0,1710.5,2.3,1782.2,46.3c199,120.4,187.5,425.9-18.5,537c-74.1,39.3-173.6,41.7-1768.3,41.7C2456.6,1703,2151.1,1698.3,2090.9,1670.6z"></path><path d="M2095.6,455.4C1982.1,399.9,1922,305,1922,182.3c0-104.2,74.1-231.5,162-275.4c44-23.1,446.7-30.1,1770.7-30.1c1657.2,0,1715.1,2.3,1786.9,46.3c215.2,129.6,182.8,444.4-55.6,546.3c-60.2,25.5-379.6,32.4-1735.9,32.4C2236.7,501.7,2185.8,499.4,2095.6,455.4z"></path><path d="M2169.6-722.7c-53.2-11.6-120.4-48.6-162-92.6c-67.1-64.8-74.1-85.6-74.1-208.3c0-113.4,9.3-148.1,57.9-199.1c111.1-120.4,152.8-127.3,868-127.3c712.9,0,756.9,6.9,865.6,122.7c76.4,85.6,90.3,256.9,27.8,356.4c-97.2,155.1-101.8,157.4-835.6,162C2553.8-706.5,2218.2-713.5,2169.6-722.7z"></path><path d="M4384.7-2382.3c-180.5-384.2-175.9-368-125-430.5l44-53.2l324,162l326.4,162l-219.9,219.9l-217.6,217.6L4384.7-2382.3z"></path></g></g></svg>' %}
<footer role="contentinfo">
  <hr/>
  <p>
    <ul class="footer-links">
      <li><small>{{ doc_icon }}<a href="/about">About blog</a></small></li>
      <li><small>{{ doc_icon }}<a href="/disclaimer">Disclaimer</a></small></li>
    </ul>
    <ul class="footer-links">
      <li><small>{{ doc_icon }}<a href="/privacy-policy">Privacy Policy</a></small></li>
      <li><small>{{ doc_icon }}<a href="/terms-of-use">Terms Of Use</a></small></li>
    </ul>
  </p>  
  {% if site.copyright.size > 0 %}
    <p><small class="copyright">{{ site.copyright | markdownify | replace:'<p>','' | replace:'</p>','' }}</small></p>
  {% endif %}
  <hr class="sr-only"/>
</footer>
{% endif %}
