<div class="item-container">
  <div class="item-card {{ include.style }}">
    <p class="card-title">{{ include.title }}</p>
    {% if include.type == 'list' %}
      {% assign contents = include.list | split: '@' %}
      <ul class="card-ul">
        {% for content in contents %}
        <li class="card-li">{{ content }}</li>
        {% endfor %}
      </ul>
    {% elsif include.type == 'desc' %}
      <p class="card-description">{{ include.desc }}</p>
    {% else %}
      {{ include.html }}
    {% endif %}
  </div>
</div>