<div class="wrap_item item_type_opengraph">
  <a target="_blank" class="inner_wrap" href="{{ include.url }}">
    <div class="inner_wrap_text">
      <strong class="title">{{ include.title }}</strong>
      <p class="desc">{{ include.description }}</p>
      <p class="url">{{ include.url }}</p>
    </div>
    <div class="inner_wrap_og_image">
      <img src="{{ include.bg_img_url }}" alt="{{ include.title }}">
    </div>
  </a>
</div>
