<h2 class="sr-only">{{ site.data.strings.pagination | default:"Pagination" }}</h2>
<nav class="pagination heading clearfix" role="navigation">
  <ul>
    <li class="pagination-item newer" >
      {% assign prev_title = site.data.strings.newer | default:"Previous" %}
      {% assign prev_href = paginator.previous_page_path | relative_url %}
      {% include base/components/link.html rel="prev" title=prev_title href=prev_href %}
    </li>
    <li class="pagination-item older" >
      {% assign next_title = site.data.strings.older | default:"Next" %}
      {% assign next_href = paginator.next_page_path | relative_url %}
      {% include base/components/link.html rel="next" title=next_title href=next_href %}
    </li>
  </ul>
</nav>
