{% assign post = include.post %}
{% assign img_src = post.image | default: '/assets/img/no-image.png' %}
<div class="n-card-container {{ include.status }}">
  <article class="n-card">
    <div class="n-card-header cf">
      <div class="post-thumb">
        <a href="{{ post.url }}" class="image-link aspect-ratio sixteen-nine">
          {% if include.is_amp %}
            {% assign img_src = site.url | replace: 'http:', '' | replace: 'https:', '' | append: img_src %}
            {% include amp/components/amp-img.html src=img_src alt=post.title class='card-post-img' width='300' height='160' %}
          {% else %}
            {% include base/components/reactive-img.html src=img_src alt=post.title class="card-post-img" %}
          {% endif %}
        </a>
      </div>
      <div class="meta-title">
        <div class="post-meta post-meta-a">
          <h3 class="post-title-alt"><a href="{{ post.url }}">{{ post.title }}</a></h3>
        </div>
      </div>
    </div>
    <div class="n-post-content n-post-excerpt cf">
      <p>{{ post.excerpt | strip_html | truncatewords:30 }}</p>
    </div>
  </article>
</div>