{% assign star1 = 'no' %}
{% assign star2 = 'no' %}
{% assign star3 = 'no' %}
{% assign star4 = 'no' %}
{% assign star5 = 'no' %}

{% if include.rating >= 0.5 %} {% assign star1 = 'half' %} {% endif %}
{% if include.rating >= 1 %} {% assign star1 = 'full' %} {% endif %}
{% if include.rating >= 1.5 %} {% assign star2 = 'half' %} {% endif %}
{% if include.rating >= 2 %} {% assign star2 = 'full' %} {% endif %}
{% if include.rating >= 2.5 %} {% assign star3 = 'half' %} {% endif %}
{% if include.rating >= 3 %} {% assign star3 = 'full' %} {% endif %}
{% if include.rating >= 3.5 %} {% assign star4 = 'half' %} {% endif %}
{% if include.rating >= 4 %} {% assign star4 = 'full' %} {% endif %}
{% if include.rating >= 4.5 %} {% assign star5 = 'half' %} {% endif %}
{% if include.rating == 5 %} {% assign star5 = 'full' %} {% endif %}

<div class="rating">
  <div class="star-score">
    <ul>
      <li><div class="star-comp"><div class="wrap"><div class="fill" data-rating="{{ star1 }}"></div></div></div></li>
      <li><div class="star-comp"><div class="wrap"><div class="fill" data-rating="{{ star2 }}"></div></div></div></li>
      <li><div class="star-comp"><div class="wrap"><div class="fill" data-rating="{{ star3 }}"></div></div></div></li>
      <li><div class="star-comp"><div class="wrap"><div class="fill" data-rating="{{ star4 }}"></div></div></div></li>
      <li><div class="star-comp"><div class="wrap"><div class="fill" data-rating="{{ star5 }}"></div></div></div></li>
    </ul>
  </div>
</div>
