{% assign post = include.post %}

<aside class="related mb4" role="complementary">
  <h2 class="hr">Related Posts</h2>
  {% include base/components/post-card-list.html posts=post.relateds %}
</aside>
