<div
  class="at-expanding-share-button-desktop at-expanding-share-button addthis-smartlayers addthis-animated slideInRight"
  id="at-expanding-share-button" aria-labelledby="at-expanding-share-button-label" role="region" data-emotion="basic"
  data-position="bottom-right">
  <ul class="at-expanding-share-button-services-list">
    <li>
      <a class="at-share-btn at-svc-facebook" data-name="Facebook" title="Share to Facebook" tabindex="7" role="button"
        href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ include.url }}" target="_blank"
        rel="nofollow">
        <span class="at-icon-wrapper" style="background-color: rgb(59, 89, 152);">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32"
            version="1.1" role="img" aria-labelledby="at-svg-facebook-4" title="Facebook" alt="Facebook"
            class="at-icon at-icon-facebook">
            <title id="at-svg-facebook-4">Facebook</title>
            <g>
              <path
                d="M22 5.16c-.406-.054-1.806-.16-3.43-.16-3.4 0-5.733 1.825-5.733 5.17v2.882H9v3.913h3.837V27h4.604V16.965h3.823l.587-3.913h-4.41v-2.5c0-1.123.347-1.903 2.198-1.903H22V5.16z"
                fill-rule="evenodd"></path>
            </g>
          </svg>
        </span>
      </a>
    </li>
    <li>
      <a class="at-share-btn at-svc-twitter" data-name="Twitter" title="Share to Twitter" tabindex="6" role="button"
        href="https://twitter.com/intent/tweet?text={{ include.title }}&url={{ site.url }}{{ include.url }}"
        target="_blank" rel="nofollow">
        <span class="at-icon-wrapper" style="background-color: rgb(29, 161, 242);">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32"
            version="1.1" role="img" aria-labelledby="at-svg-twitter-3" title="Twitter" alt="Twitter"
            class="at-icon at-icon-twitter">
            <title id="at-svg-twitter-3">Twitter</title>
            <g>
              <path
                d="M27.996 10.116c-.81.36-1.68.602-2.592.71a4.526 4.526 0 0 0 1.984-2.496 9.037 9.037 0 0 1-2.866 1.095 4.513 4.513 0 0 0-7.69 4.116 12.81 12.81 0 0 1-9.3-4.715 4.49 4.49 0 0 0-.612 2.27 4.51 4.51 0 0 0 2.008 3.755 4.495 4.495 0 0 1-2.044-.564v.057a4.515 4.515 0 0 0 3.62 4.425 4.52 4.52 0 0 1-2.04.077 4.517 4.517 0 0 0 4.217 3.134 9.055 9.055 0 0 1-5.604 1.93A9.18 9.18 0 0 1 6 23.85a12.773 12.773 0 0 0 6.918 2.027c8.3 0 12.84-6.876 12.84-12.84 0-.195-.005-.39-.014-.583a9.172 9.172 0 0 0 2.252-2.336"
                fill-rule="evenodd"></path>
            </g>
          </svg>
        </span>
      </a>
    </li>
    <li>
      <a class="at-share-btn at-svc-telegram" data-name="Telegram" title="Share to Telegram" tabindex="3" role="button"
        href="https://t.me/share/url?text={{ include.title }}&url={{ site.url }}{{ include.url }}" target="_blank"
        rel="nofollow">
        <span class="at-icon-wrapper" style="background-color: rgb(0, 136, 204);">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32"
            version="1.1" role="img" aria-labelledby="at-svg-telegram-2" title="Telegram" alt="Telegram"
            class="at-icon at-icon-telegram">
            <title id="at-svg-telegram-2">Telegram</title>
            <g>
              <g fill-rule="evenodd"></g>
              <path d="M15.02 20.814l9.31-12.48L9.554 17.24l1.92 6.42c.225.63.114.88.767.88l.344-5.22 2.436 1.494z"
                opacity=".6"></path>
              <path d="M12.24 24.54c.504 0 .727-.234 1.008-.51l2.687-2.655-3.35-2.054-.344 5.22z" opacity=".3"></path>
              <path
                d="M12.583 19.322l8.12 6.095c.926.52 1.595.25 1.826-.874l3.304-15.825c.338-1.378-.517-2.003-1.403-1.594L5.024 14.727c-1.325.54-1.317 1.29-.24 1.625l4.98 1.58 11.53-7.39c.543-.336 1.043-.156.633.214">
              </path>
            </g>
          </svg>
        </span>
      </a>
    </li>
    <li>
      <a class="at-share-btn at-svc-lineme" data-name="LINE" title="Share to LINE" tabindex="4" role="button"
        href="https://social-plugins.line.me/lineit/share?url={{ site.url }}{{ include.url }}" target="_blank"
        rel="nofollow">
        <span class="at-icon-wrapper" style="background-color: rgb(0, 185, 0);">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32"
            version="1.1" role="img" aria-labelledby="at-svg-lineme-5" title="LINE" alt="LINE"
            class="at-icon at-icon-lineme">
            <title id="at-svg-lineme-5">LINE</title>
            <g>
              <path
                d="M27 14.927c0 1.97-.764 3.744-2.358 5.492-2.307 2.655-7.468 5.89-8.642 6.385-1.174.495-1-.315-.953-.593l.157-.94c.037-.282.075-.718-.035-.996-.125-.306-.612-.465-.97-.542-5.287-.7-9.2-4.395-9.2-8.807C5 10.005 9.935 6 16 6c6.066 0 11 4.005 11 8.927zm-13.235-2.38h-.772a.214.214 0 0 0-.214.215v4.793c0 .118.095.214.213.214h.772a.214.214 0 0 0 .214-.215v-4.793a.214.214 0 0 0-.215-.214zm5.31 0h-.77a.214.214 0 0 0-.215.215v2.848l-2.197-2.967a.235.235 0 0 0-.017-.023l-.014-.013-.003-.004c-.005-.003-.01-.006-.013-.01-.002 0-.003-.002-.005-.004l-.01-.008a.262.262 0 0 0-.018-.01c-.004 0-.006-.003-.008-.004a.605.605 0 0 0-.013-.005l-.007-.002a.106.106 0 0 0-.02-.005.098.098 0 0 0-.012-.003h-.01c-.003-.002-.006-.002-.01-.003-.004 0-.007 0-.01-.002h-.78a.214.214 0 0 0-.214.214v4.793c0 .118.095.214.214.214h.77a.214.214 0 0 0 .216-.215v-2.847l2.2 2.97c.014.022.033.04.053.053 0 .002.002.002.002.003l.014.008c0 .002.003.003.005.004l.01.005c.003 0 .007.002.01.004.003 0 .004 0 .007.002l.014.005s.002 0 .003.002a.206.206 0 0 0 .054.007h.772a.214.214 0 0 0 .214-.215v-4.793a.214.214 0 0 0-.214-.214zm-7.17 4.022H9.81V12.76a.214.214 0 0 0-.216-.214h-.77a.214.214 0 0 0-.216.214v4.793c0 .058.023.11.06.148l.003.003c.002 0 .003.002.005.003.038.036.09.06.147.06h3.083a.214.214 0 0 0 .214-.215v-.772a.214.214 0 0 0-.215-.214zm11.432-2.822a.214.214 0 0 0 .214-.214v-.77a.214.214 0 0 0-.213-.216h-3.082a.213.213 0 0 0-.15.06s0 .002-.002.003c0 .002-.003.003-.004.005a.214.214 0 0 0-.06.147v4.793c0 .057.023.11.06.148l.003.003.003.003c.04.036.09.06.148.06h3.083a.214.214 0 0 0 .214-.215v-.772a.214.214 0 0 0-.213-.214H21.24v-.812h2.097a.214.214 0 0 0 .214-.214v-.77a.214.214 0 0 0-.213-.216H21.24v-.81h2.097z"
                fill-rule="evenodd"></path>
            </g>
          </svg>
        </span>
      </a>
    </li>
    <li>
      <a class="at-share-btn at-svc-kakaotalk" data-name="Kakao Talk" title="Share to Kakao Talk" tabindex="5"
        role="button">
        <span class="at-icon-wrapper" style="background-color: #FFE812;">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32"
            version="1.1" role="img" aria-labelledby="at-svg-kakaotalk-7" title="Kakao Talk" alt="Kakao Talk"
            class="at-icon at-icon-kakaotalk">
            <title id="at-svg-kakaotalk-7">Kakao Talk</title>
            <g>
              <path
                fill="#000000"
                d="M16 23.217c-.67 0-1.327-.047-1.965-.137-.762-.107-4.252 3.246-4.73 2.768-.48-.478.977-3.587.478-3.826C6.623 20.51 5 17.72 5 14.61 5 9.853 9.925 6 16 6s11 3.854 11 8.61c0 4.753-4.925 8.607-11 8.607zm-5.082-9.873c.17 0 .3-.038.386-.114a.38.38 0 0 0 .128-.3.388.388 0 0 0-.127-.3c-.084-.077-.214-.116-.387-.116H7.72c-.164 0-.29.037-.377.112a.38.38 0 0 0-.13.305c0 .125.042.225.125.3.084.076.21.114.383.114H8.82v3.606c0 .205.047.36.14.46a.472.472 0 0 0 .365.153c.146 0 .266-.05.36-.15.09-.1.137-.255.137-.463v-3.606h1.098zm3.67 3.572c.032.077.07.166.114.266s.085.175.123.223a.416.416 0 0 0 .346.158c.136 0 .252-.048.348-.144a.44.44 0 0 0 .144-.318c0-.11-.05-.287-.153-.53l-1.298-3.204c-.06-.16-.11-.29-.15-.385a1.437 1.437 0 0 0-.146-.27.674.674 0 0 0-.227-.204.703.703 0 0 0-.35-.08.695.695 0 0 0-.348.08.66.66 0 0 0-.227.207 1.686 1.686 0 0 0-.163.324l-.13.334-1.27 3.224c-.052.13-.09.23-.112.3a.702.702 0 0 0-.034.21c0 .12.05.224.146.316.097.093.21.14.335.14.15 0 .257-.045.322-.13.064-.088.143-.256.236-.504l.237-.637h2.018l.238.623zm2.618-3.877c0-.206-.047-.36-.14-.46a.48.48 0 0 0-.368-.15c-.15 0-.27.05-.36.152-.092.102-.138.254-.138.457v3.822c0 .217.048.374.144.47.096.098.253.146.472.146h2.428c.165 0 .29-.038.376-.113a.376.376 0 0 0 .13-.296c0-.12-.045-.22-.132-.3-.086-.078-.21-.118-.374-.118h-2.038V13.04zm4.036 0c0-.206-.047-.36-.14-.46a.48.48 0 0 0-.368-.15.46.46 0 0 0-.364.152c-.09.102-.133.254-.133.457v3.69c0 .158.003.28.01.362a.596.596 0 0 0 .057.22.474.474 0 0 0 .183.183.49.49 0 0 0 .247.068c.15 0 .27-.05.366-.15.095-.1.142-.255.142-.463v-1.026l.823-.79 1.19 1.83c.046.08.1.17.16.27.062.1.137.18.225.24s.202.09.342.09c.15 0 .267-.042.353-.123a.382.382 0 0 0 .13-.287c0-.1-.024-.2-.074-.306a2.523 2.523 0 0 0-.222-.368l-1.41-2.02 1.224-1.157c.15-.144.226-.29.226-.437a.41.41 0 0 0-.133-.31.488.488 0 0 0-.35-.126.45.45 0 0 0-.267.07 1.81 1.81 0 0 0-.242.22l-1.974 2.06v-1.74zm-8.645 2.498l.735-2.05.748 2.05h-1.483z"
                fill-rule="evenodd"></path>
            </g>
          </svg>
        </span>
      </a>
    </li>
    <li>
      <a class="at-share-btn at-svc-link" data-name="Copy Link" title="Share to Copy Link" tabindex="2" role="button">
        <span class="at-icon-wrapper" style="background-color: rgb(23, 139, 244);">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32"
            version="1.1" role="img" aria-labelledby="at-svg-link-1" title="Copy Link" alt="Copy Link"
            class="at-icon at-icon-link">
            <title id="at-svg-link-1">Copy Link</title>
            <g>
              <path
                d="M23.476 20.663c0-.324-.114-.6-.34-.825l-2.524-2.524a1.124 1.124 0 0 0-.826-.34c-.34 0-.63.13-.873.388.024.024.1.1.23.225s.217.212.26.26c.046.05.106.126.183.23a.976.976 0 0 1 .2.644c0 .325-.113.6-.34.827-.226.226-.5.34-.825.34-.12 0-.23-.015-.332-.043a.976.976 0 0 1-.31-.158 2.89 2.89 0 0 1-.23-.182 7.506 7.506 0 0 1-.26-.26l-.226-.23c-.267.25-.4.545-.4.885 0 .322.113.597.34.824l2.5 2.512c.218.218.493.328.825.328.323 0 .598-.106.825-.316l1.784-1.772a1.11 1.11 0 0 0 .34-.813zm-8.532-8.556c0-.323-.113-.598-.34-.825l-2.5-2.512a1.124 1.124 0 0 0-.825-.34c-.316 0-.59.11-.826.328L8.67 10.53a1.11 1.11 0 0 0-.34.813c0 .323.113.598.34.825l2.524 2.524c.22.22.494.328.825.328.34 0 .63-.126.873-.376-.024-.025-.1-.1-.23-.225a7.506 7.506 0 0 1-.26-.262 2.89 2.89 0 0 1-.183-.23.976.976 0 0 1-.2-.644c0-.323.113-.598.34-.825.226-.227.5-.34.824-.34a.976.976 0 0 1 .643.2c.106.077.183.137.23.182.05.044.137.13.262.26s.2.207.224.23c.267-.25.4-.545.4-.885zm10.862 8.556c0 .97-.344 1.792-1.032 2.464L22.99 24.9c-.67.67-1.492 1.006-2.463 1.006-.98 0-1.805-.344-2.476-1.032l-2.5-2.512c-.67-.67-1.006-1.493-1.006-2.463 0-.997.356-1.842 1.068-2.538l-1.068-1.068c-.696.712-1.538 1.068-2.525 1.068-.97 0-1.797-.34-2.476-1.02L7.02 13.82C6.34 13.138 6 12.314 6 11.343c0-.97.344-1.792 1.032-2.464l1.784-1.773c.67-.67 1.492-1.007 2.463-1.007.978 0 1.803.344 2.475 1.032l2.5 2.512c.67.67 1.007 1.492 1.007 2.463 0 .995-.356 1.84-1.068 2.537l1.068 1.068c.696-.712 1.537-1.068 2.524-1.068.97 0 1.797.34 2.476 1.02l2.524 2.523c.68.68 1.02 1.505 1.02 2.476z"
                fill-rule="evenodd"></path>
            </g>
          </svg>
        </span>
        <input type="text" id="copy-target-input" hidden readonly>
      </a>
    </li>
  </ul>
  <div class="at-expanding-share-button-toggle">
    <a role="button" title="Toggle Sharing Icons" tabindex="0" data-name="Close"
      class="at-expanding-share-button-toggle-btn at-expanding-share-button-hidden">
      <div class="at-expanding-share-button-toggle-bg">
        <div class="at-expanding-share-button-click-flash" style="transition-duration: 300ms;"></div>
        <span style="background-color: #2a4a61;"></span>
      </div>
    </a>
  </div>
</div>
<div class="toast-alert"><span>Copied to clipboard</span></div>
{% assign len = post.permalink | size %}

<script>
  var kakaoThumbnail = '{{ site.url }}{{ post.image }}';
  var kakaoTitle = '{{ post.title }}';
  var kakaoDescription = '{{ post.description | strip_newlines }}';
  var kakaoPath = '{{ post.permalink | slice: 1, len }}';
  var siteUrl = '{{ site.url }}';
  {% include base/scripts/share.js %}
</script>
