{% include base/body/components/menu.html %}
<div class="hy-push-state">
  <div class="wide-sidebar">
    {% include base/body/components/sidebar.html %}  
  </div>
    <div class="main content">
      {% include base/components/searched-posts.html %}
      {% case page.type %}
        {% when 'about' %} {% include docs/about.html %}
        {% when 'privacy-policy' %} {% include docs/privacy-policy.html %}
        {% when 'terms-of-use' %} {% include docs/terms-of-use.html %}
        {% when 'disclaimer' %} {% include docs/disclaimer.html %}
      {% endcase %}
      {% include base/components/google/display-ad.html slot='4324975088' %}
      {% include base/components/footer.html %}
    </div>
</div>
{% include base/scripts/body.html %}