{% include amp/components/google/index.html %}
{% include amp/body/components/menu.html %}
<div class="hy-push-state">
  {% include amp/body/post/post.html post=page no_link_title=true %}
  <div class="wide-sidebar">
    {% include amp/body/components/sidebar.html %}  
  </div>
  <amp-sidebar id="sidebar" class="amp-sidebar" layout="nodisplay" side="left">
    {% include amp/body/components/sidebar.html %}  
  </amp-sidebar>
</div>
