---
layout: base
---
{% assign plugins = site.plugins | default:site.gems %}
<!DOCTYPE html>
<html lang="{{ page.lang | default:site.lang | default:'en' | split:'-' | first | split:'_' | first }}">
  <head>
    {% include base/head/index.html %}
  </head>
  <body>
    {% include base/body/post/index.html %}
  </body>
</html>