<style>
  body {
    margin: 0;
  }
  a {
    list-style: none;
    box-sizing: border-box;
    transition: .1s;
    text-decoration: none;
    display: inline-block;
    height: 40px;
    padding: 0 3px 0 0;
    outline: none;
  }
  span {
    list-style: none;
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
    float: left;
    margin-right: -3px;
  }
  span:hover {
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .4)
  }
  span > svg {
    list-style: none;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    fill: #fff;
    border: 0;
    box-sizing: border-box;
    display: inline-block;
    height: 34px;
    margin: 3px 0;
    vertical-align: top;
    width: 34px;
  }

  a[data-name]:before {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
    transform: translate(0, -50%);
    transition: .4s;
    background-color: #fff;
    border-radius: 3px;
    color: #666;
    content: attr(data-name);
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 9pt;
    line-height: 9pt;
    font-weight: 500;
    opacity: 0;
    padding: 3px 5px;
    position: relative;
    top: 20px;
    white-space: nowrap;
    float: left;
    margin-right: 10px;
  }

  a[data-name]:before {
    opacity: 1;
  }
</style>
<a class="at-share-btn at-svc-kakaotalk" data-name="Kakao Talk" title="Share to Kakao Talk" tabindex="5"
role="button" href="#">
  <span class="at-icon-wrapper" style="background-color: #FFE812;">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32"
      version="1.1" role="img" aria-labelledby="at-svg-kakaotalk-7" title="Kakao Talk" alt="Kakao Talk"
      class="at-icon at-icon-kakaotalk">
      <title id="at-svg-kakaotalk-7">Kakao Talk</title>
      <g>
        <path
          fill="#000000"
          d="M16 23.217c-.67 0-1.327-.047-1.965-.137-.762-.107-4.252 3.246-4.73 2.768-.48-.478.977-3.587.478-3.826C6.623 20.51 5 17.72 5 14.61 5 9.853 9.925 6 16 6s11 3.854 11 8.61c0 4.753-4.925 8.607-11 8.607zm-5.082-9.873c.17 0 .3-.038.386-.114a.38.38 0 0 0 .128-.3.388.388 0 0 0-.127-.3c-.084-.077-.214-.116-.387-.116H7.72c-.164 0-.29.037-.377.112a.38.38 0 0 0-.13.305c0 .125.042.225.125.3.084.076.21.114.383.114H8.82v3.606c0 .205.047.36.14.46a.472.472 0 0 0 .365.153c.146 0 .266-.05.36-.15.09-.1.137-.255.137-.463v-3.606h1.098zm3.67 3.572c.032.077.07.166.114.266s.085.175.123.223a.416.416 0 0 0 .346.158c.136 0 .252-.048.348-.144a.44.44 0 0 0 .144-.318c0-.11-.05-.287-.153-.53l-1.298-3.204c-.06-.16-.11-.29-.15-.385a1.437 1.437 0 0 0-.146-.27.674.674 0 0 0-.227-.204.703.703 0 0 0-.35-.08.695.695 0 0 0-.348.08.66.66 0 0 0-.227.207 1.686 1.686 0 0 0-.163.324l-.13.334-1.27 3.224c-.052.13-.09.23-.112.3a.702.702 0 0 0-.034.21c0 .12.05.224.146.316.097.093.21.14.335.14.15 0 .257-.045.322-.13.064-.088.143-.256.236-.504l.237-.637h2.018l.238.623zm2.618-3.877c0-.206-.047-.36-.14-.46a.48.48 0 0 0-.368-.15c-.15 0-.27.05-.36.152-.092.102-.138.254-.138.457v3.822c0 .217.048.374.144.47.096.098.253.146.472.146h2.428c.165 0 .29-.038.376-.113a.376.376 0 0 0 .13-.296c0-.12-.045-.22-.132-.3-.086-.078-.21-.118-.374-.118h-2.038V13.04zm4.036 0c0-.206-.047-.36-.14-.46a.48.48 0 0 0-.368-.15.46.46 0 0 0-.364.152c-.09.102-.133.254-.133.457v3.69c0 .158.003.28.01.362a.596.596 0 0 0 .057.22.474.474 0 0 0 .183.183.49.49 0 0 0 .247.068c.15 0 .27-.05.366-.15.095-.1.142-.255.142-.463v-1.026l.823-.79 1.19 1.83c.046.08.1.17.16.27.062.1.137.18.225.24s.202.09.342.09c.15 0 .267-.042.353-.123a.382.382 0 0 0 .13-.287c0-.1-.024-.2-.074-.306a2.523 2.523 0 0 0-.222-.368l-1.41-2.02 1.224-1.157c.15-.144.226-.29.226-.437a.41.41 0 0 0-.133-.31.488.488 0 0 0-.35-.126.45.45 0 0 0-.267.07 1.81 1.81 0 0 0-.242.22l-1.974 2.06v-1.74zm-8.645 2.498l.735-2.05.748 2.05h-1.483z"
          fill-rule="evenodd"></path>
      </g>
    </svg>
  </span>
</a>
<script type="text/javascript" src="/assets/js/kakao.min.js"></script>
<script>

  Kakao.init('1497f24429bc846610910b99414fd76c');
  document.querySelector('.at-share-btn.at-svc-kakaotalk').addEventListener('click', function () {
    var hash = getHashValues();
    Kakao.Link.sendCustom({
      templateId: 29744,
      templateArgs: {
        thumbnail: hash.thumbnail,
        title: hash.title,
        description: hash.description,
        path: hash.path
      }
    });
  });

  var getHashValues = function () {
    params = window.location.hash.substr(1);
    var obj = {};
    var pairs = params.split('&');
    for(i in pairs){
      var split = pairs[i].split('=');
      obj[decodeURIComponent(split[0])] = decodeURIComponent(split[1]);
    }
    return obj;
  }
</script>